data
.vscode
Week1/results
Week1/__pycache__
Week2/results
Week2/__pycache__
Week2/models/*.pt
ZBS/
__pycache__/
runs
AI_CITY*

results/
tmp_scripts/
Week3/logs/
Week3/results/
Week3/FlowFormerPlusPlus/
job*
*.pth
*.safetensors
*.sh
*.err
*.out

Week4/outputs
det_yolo.txt