torch==2.10.0
optuna==4.7.0
pillow==12.1.1
numpy==2.4.2
opencv-python==4.13.0.92
opencv-contrib-python==4.13.0.92
lxml==6.0.2
matplotlib==3.10.8
torchvision==0.25.0
seaborn
moviepy
ultralytics
scipy
filterpy